html {
    overflow-x: hidden
}
/* 
@font-face {
    font-family: "CustomFont";
    src: url("https://yoursite.com/css/fonts/CustomFont.eot");
    src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
} */

table,
th,
td {
    border: 1px solid transparent;
    border-collapse: collapse;
}

th,
td,
tr {
    padding: 40px;
    text-align: center;
    max-height: 66px;
}

.powered{
    color: white;
    position: absolute;
    top: 105%;
    font-size: 15px;
    left: 80%;
}
.btn span {
    color: red !important;
}

.box {
    border: 2px solid #02fe7f;
    width: 300px;
    height: 30%;
    background: transparent;
}

.heading {
    background: #02fe7f;
    margin: -22px 0 -22px 0;
}

.heading>h1 {
    text-align: center;
    color: ghostwhite;
    font-size: 20px;
}

.past4weeks {
    border-top: 2px solid #02fe7f;
    border-bottom: 2px solid #02fe7f;
    padding-left: 10px;
    text-align: left;
}

.head>h1 {
    font-size: 20px;
    color: #02fe7f;
    text-transform: uppercase;
}

.head>h3 {
    margin-top: -10px;
    font-size: 15px;
    color: ghostwhite;
}

.past4weeks>h1 {
    /* text-align: center; */
    font-size: 22px;
    font-weight: 800;
    color: ghostwhite;
}

.mostfrequent {
    margin: -20px 0 -20px 0;
}

.mostfrequent>h1 {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    font-weight: 800;
    color: ghostwhite;
}

.mostfrequent>h4 {
    margin-top: -8px;
    /* padding-top: -10px; */
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 800;
    color: #02fe7f;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    @import url("https://fonts.googleapis.com/css?family=El+Messiri");

    #contactus,
    #aboutus {
        background-image: url('../assets/DOTTED.png');
        /* : 0.5; */
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    #container {
        background-color: transparent;
        width: 100%;
        height: 90vh;
        z-index: 9;
    }

    button:focus {
        outline: 0;
    }

    .hiddenbutton {
        position: relative;
    }

    .hiddenbutton .hovertext {
        visibility: hidden;
        color: #02fe7f;
        border-radius: 0;
        /* Position the tooltip */
        position: relative;
        z-index: 1;
        font-weight: bold;
    }

    .hiddenbutton:hover .hovertext {
        visibility: visible;


    }

    .hovertext hr {
        margin-top: 0;
        margin-bottom: 0;
        border: 5px;
        border-top: 2px solid rgba(0, 0, 0, .1);
        background-color: green;

        width: 48px;
    }

    .btn {
        background: transparent;
        width: 10px;
        height: 4px;
    }

    .btnusa {
        padding: 53px;
        margin-bottom: -53%;

    }

    .btntrinidad {
        margin: 0 0 -84% -27%;
    }

    .btnsingapore {}

    .btngermany {
        margin-top: 167%;

    }

    #norwaybtn {
        padding: 12px 13px 58px 22px;
        float: left;
    }

    .btnisrael {
        margin-top: 93%;
    }

    .btnindia {
        /* margin-top: 23%; */
        padding: 40px;
        margin-right: -38px;
    }

    .btntaiwan {
        margin-bottom: -143%;

    }

    .btnphilippines {
        padding: 33px;


    }

    .btngb {
        padding: 48px;
        margin-right: -51%;
    }

    td.hiddenbutton.btn.btnnewzealand {
        padding: 9px 16px 31px 60px;
        margin-bottom: -117%;

    }

    .btnnewzealand {

        margin-top: -74px;

    }

    .btnnewzealand p.hovertext {
        margin: -36px;

    }

    td.hiddenbutton.btn {
        padding: 35px;
    }

    #aboutus,
    #ourteam,
    #contactus {
        padding: 8%;
    }

    .about_img {
        width: 465px;
        /* height:233px; */
        margin: 50px 50px 50px 50px;
    }

    .team_img {
        width: 465px;
        /* height:233px; */
        margin: 50px 50px 50px 50px;
    }

    .cont_img {
        width: 400px;
        /* height:233px; */
        margin: 20px 50px 50px 50px;
    }

    .quaffle {
        text-align: end;
        padding-right: 120px;
        font-size: 1.5em;
    }

    .navbar-brand>img:nth-child(1) {
        width: 14%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 40%;
        padding-left: 2vh;
    }

    button:focus {
        outline: 0;
    }

    .main-heading {
        background-color: transparent;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 18% 0 0 33%
    }

    .main-heading>img:nth-child(1) {
        width: 115px;
        margin: 0 21px 0 0;
    }

    .main-heading>img:nth-child(2) {
        width: 373px;
    }

    p {
        font-size: 1.3em;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
        color: black;
    }

    /* #ourfeatures>section>.row {
        background-image: url("../assets/dot_bg.png");
        background-size:50%;
        background-size: cover;
        background-position: 175% 0%;
        background-repeat: no-repeat;
    } */
    .feature {
        background-image: url("../assets/dot_bg.png");
        background-size: 50%;
        /* background-size: cover; */
        background-position: 5% 0%;
        background-repeat: no-repeat;
    }

    .numbers {
        padding: 2vmin 0 0 2vmin;
        /* position: absolute; */
        height: 360px;

    }

    #head_f {
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
    }

    .rect {
        background: white;
        /* position: relative; */
        display: flex;
        width: 16rem;
        height: 16rem;
        padding-top: 5vmin;
        border-radius: 0.4em;
        margin: 3em 2em 5em 5em;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
    }

    .rect:nth-child(1) {
        background-image: url("../assets/feature_game.png");
        background-repeat: no-repeat;
        background-position: 30% 70%;
        background-size: 380px;
    }

    .rect:nth-child(2) {
        background-image: url("../assets/feature_perf.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect:nth-child(3) {
        background-image: url("../assets/feature_cont.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect>h3 {
        text-align: center;
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: black;
    }

    .rect:hover {
        box-shadow: 0px 10px 42px rgba(139, 128, 128, 0.5);
        width: 17rem;
        height: 17rem;
    }

    .rect:hover h3 {
        font-size: 2.2em;
    }

    /*     
    #ourteam {
        background-image: url("../assets/dot_bg4.png")
    } */

    .content_about>p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        padding-left: 100px;
        text-align: left;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
        text-align: right;
        padding-right: 5vh;
    }

    #particles-js {
        /* z-index: 1; */
        width: 100%;
        height: 100vh;
        /* position: fixed; */
        display: flex;
        /* text-align: center;
        justify-content: center;
        align-items: center; */
        z-index: -10;
        background-color: black;
    }

    .particles-js-canvas-el {
        position: absolute;
    }

    #myHeader {
        position: inherit;
        background-color: black;
        background: black;
        backface-visibility: hidden;
    }

    .navbar {
        background: transparent;
    }

    #button_head {
        background: black;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        z-index: 10;


    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    #button_head:hover {
        border: 3px solid green;
        color: green;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: green;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .hidediv {
        transition: 0.3s;
        transition-timing-function: ease;
        display: none;
        position: absolute;
        transition-delay: 2000ms
    }

    .hide {
        position: fixed;
        z-index: -99;
    }


    .headertoggle .newnavbar {
        transition: 0.3s;
        background-color: black;
        color: white;
    }

    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {


    @import url("https://fonts.googleapis.com/css?family=El+Messiri");

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .hiddenbutton {
        position: relative;
    }

    .hiddenbutton .hovertext {
        background: #9da4a780;
        visibility: hidden;
        color: #fff;
        border-radius: 0;
        /* Position the tooltip */
        position: relative;
        z-index: 1;
    }

    .hiddenbutton:hover .hovertext {
        visibility: visible;
        color: #02fe7f;

        background: #9da4a780;

    }

    .btn {
        background: transparent;

    }

    #container {
        background-color: transparent;
        width: 100%;
        height: 90vh;
        z-index: 9;
    }

    .btnusa {
        padding: 53px;
        margin-bottom: -53%;

    }

    .btntrinidad {
        margin: 0 0 -84% -27%;
    }

    .btnsingapore {}

    .btngermany {
        margin-top: 167%;

    }

    #norwaybtn {
        padding: 12px 13px 58px 22px;
        float: left;
    }

    .btnisrael {
        margin-top: 93%;
    }

    .btnindia {
        /* margin-top: 23%; */
        padding: 40px;
        margin-right: -38px;
    }

    .btntaiwan {
        margin-bottom: -143%;

    }

    .btnphilippines {
        padding: 33px;


    }

    .btngb {
        padding: 48px;
        margin-right: -51%;
    }

    td.hiddenbutton.btn.btnnewzealand {
        padding: 9px 16px 31px 60px;
        margin-bottom: -117%;

    }

    .btnnewzealand {

        margin-top: -74px;

    }

    .btnnewzealand p.hovertext {
        margin: -36px;

    }

    td.hiddenbutton.btn {
        padding: 35px;
    }



    .quaffle {
        text-align: end;
        padding-right: 120px;
        font-size: 1.5em;
    }

    #aboutus,
    #ourteam,
    #contactus {
        padding: 8%;
    }

    .navbar-brand>img:nth-child(1) {
        width: 14%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 40%;
        padding-left: 2vh;
    }

    button:focus {
        outline: 0;
    }

    .main-heading {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 18% 0 0 30%
    }

    .main-heading>img:nth-child(1) {
        width: 115px;
        margin: 0 21px 0 0;
    }

    .main-heading>img:nth-child(2) {
        width: 373px;
    }

    p {
        font-size: 1.3em;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
        color: black;
    }

    #ourfeatures>section {
        background-image: url("../assets/DOTTED.png");
        /* background-size: 100px; */
        /* background-size: cover; */
        background-position: 50% 50%;
        background-repeat: repeat;
    }

    .numbers {
        padding: 2vmin 0 0 2vmin;
        /* position: absolute; */
        height: 360px;

    }

    #head_f {
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
    }

    .rect {
        background: white;
        /* position: relative; */
        display: flex;
        width: 16rem;
        height: 16rem;
        padding-top: 5vmin;
        border-radius: 0.4em;
        margin: 3em 2em 5em 5em;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
    }

    .rect:nth-child(1) {
        background-image: url("../assets/feature_game.png");
        background-repeat: no-repeat;
        background-position: 30% 70%;
        background-size: 380px;
    }

    .rect:nth-child(2) {
        background-image: url("../assets/feature_perf.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect:nth-child(3) {
        background-image: url("../assets/feature_cont.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect>h3 {
        text-align: center;
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: black;
    }

    .rect:hover {
        box-shadow: 0px 10px 42px rgba(139, 128, 128, 0.5);
        width: 17rem;
        height: 17rem;
    }

    .rect:hover h3 {
        font-size: 2.2em;
    }

    /*     
    #ourteam {
        background-image: url("../assets/dot_bg4.png")
    } */

    .content_about>p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        padding-left: 100px;
        text-align: left;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
        text-align: right;
        padding-right: 5vh;
    }

    #particles-js {
        /* z-index: 1; */
        width: 100%;
        height: 100vh;
        /* position: fixed; */
        display: flex;
        /* text-align: center;
        justify-content: center;
        align-items: center; */
        z-index: -10;
        background-color: black;
    }

    .particles-js-canvas-el {
        position: absolute;
    }

    #myHeader {
        position: fixed;
        background-color: black;
        background: black;
        backface-visibility: hidden;
    }

    .navbar {
        background: transparent;
    }

    #button_head {
        background: black;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        z-index: 10;


    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    #button_head:hover {
        border: 3px solid green;
        color: green;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: green;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .hidediv {
        transition: 0.3s;
        transition-timing-function: ease;
        display: none;
        position: absolute;
        transition-delay: 2000ms
    }

    .hide {
        position: fixed;
        z-index: -99;
    }


    .headertoggle .newnavbar {
        transition: 0.3s;
        background-color: black;
        color: white;
    }

    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }


}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {


    @import url("https://fonts.googleapis.com/css?family=El+Messiri");

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .hiddenbutton {
        visibility: hidden;
    }

    .quaffle {
        text-align: center;
        font-size: 1.5em;
    }

    #container {
        background-color: transparent;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    #aboutus,
    #ourteam,
    #contactus {
        padding: 8%;
    }

    .navbar-brand>img:nth-child(1) {
        width: 18%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 45%;
        padding-left: 2vh;
    }

    button:focus {
        outline: 0;
    }

    .main-heading {
        text-align: center;
        justify-content: center;
        align-items: center;
        top: 35%;
        left: 20%;
    }

    .main-heading>img:nth-child(1) {
        width: 115px;
        margin: 0 21px 0 0;
    }

    .main-heading>img:nth-child(2) {
        width: 373px;
    }

    p {
        font-size: 1.5em;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
        color: black;
    }

    /* #ourfeatures>section {
        background-image: url("../assets/DOTTED.png");
        background-size: 100px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: repeat;
    } */

    .numbers {
        padding: 2vmin 0 0 2vmin;
        /* position: absolute; */
        height: 360px;

    }

    #head_f {
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
    }

    .rect {
        background: white;
        /* position: relative; */
        display: flex;
        width: 16rem;
        height: 16rem;
        padding-top: 5vmin;
        border-radius: 0.4em;
        margin: 3em 2em 5em 5em;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
    }

    .rect:nth-child(1) {
        background-image: url("../assets/feature_game.png");
        background-repeat: no-repeat;
        background-position: 30% 70%;
        background-size: 380px;
    }

    .rect:nth-child(2) {
        background-image: url("../assets/feature_perf.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect:nth-child(3) {
        background-image: url("../assets/feature_cont.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect>h3 {
        text-align: center;
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: black;
    }

    .rect:hover {
        box-shadow: 0px 10px 42px rgba(139, 128, 128, 0.5);
        width: 17rem;
        height: 17rem;
    }

    .rect:hover h3 {
        font-size: 2.2em;
    }

    /*     
    #ourteam {
        background-image: url("../assets/dot_bg4.png")
    } */

    .content_about>p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        text-align: center;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
        text-align: right;
        padding-right: 5vh;
    }

    #particles-js {
        /* z-index: 1; */
        width: 100%;
        height: 100vh;
        /* position: fixed; */
        display: flex;
        /* text-align: center;
        justify-content: center;
        align-items: center; */
        z-index: -10;
        background-color: black;
    }

    .particles-js-canvas-el {
        position: absolute;
    }

    #myHeader {
        position: fixed;
        background-color: black;
        background: black;
        backface-visibility: hidden;
    }

    .navbar {
        background: transparent;
    }

    #button_head {
        background: black;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        z-index: 10;


    }


    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    #button_head:hover {
        border: 3px solid green;
        color: green;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: green;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .about_img {
        width: 465px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    .team_img {
        width: 465px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    .cont_img {
        width: 420px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    .hidediv {
        transition: 0.3s;
        transition-timing-function: ease;
        display: none;
        position: absolute;
        transition-delay: 2000ms
    }

    .hide {
        position: fixed;
        z-index: -99;
    }


    .headertoggle .newnavbar {
        transition: 0.3s;
        background-color: black;
        color: white;
    }

    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    .col-md-6 {
        /* -ms-flex: 0 0 50%; */
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .numbers.d-flex.flex-md-row.flex-wrap.justify-content-center {
        height: auto;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    @import url("https://fonts.googleapis.com/css?family=El+Messiri");

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .hiddenbutton {
        visibility: hidden;
    }

    .quaffle {
        text-align: center;
        font-size: 1.5em;
    }

    #container {
        background-color: transparent;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    #aboutus,
    #ourteam,
    #contactus {
        padding: 8%;
    }

    .navbar-brand>img:nth-child(1) {
        width: 18%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 45%;
        padding-left: 2vh;
    }

    .about_img {
        width: 465px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    .team_img {
        width: 465px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    .cont_img {
        width: 465px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    button:focus {
        outline: 0;
    }

    .main-heading {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .main-heading>img:nth-child(1) {
        width: 100px;
        margin: 0 21px 0 0;
    }

    .main-heading>img:nth-child(2) {
        width: 370px;
    }

    p {
        font-size: 1.4em;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
        color: black;
    }

    /* #ourfeatures>section {
        background-image: url("../assets/DOTTED.png");
        background-size: 100px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: repeat;
    } */

    .numbers {
        padding: 2vmin 0 0 2vmin;
        /* position: absolute; */
        height: 360px;

    }

    #head_f {
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
    }

    .rect {
        background: white;
        /* position: relative; */
        display: flex;
        width: 16rem;
        height: 16rem;
        padding-top: 5vmin;
        border-radius: 0.4em;
        margin: 3em 2em 5em 5em;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
    }

    .rect:nth-child(1) {
        background-image: url("../assets/feature_game.png");
        background-repeat: no-repeat;
        background-position: 30% 70%;
        background-size: 380px;
    }

    .rect:nth-child(2) {
        background-image: url("../assets/feature_perf.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect:nth-child(3) {
        background-image: url("../assets/feature_cont.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect>h3 {
        text-align: center;
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: black;
    }

    .rect:hover {
        box-shadow: 0px 10px 42px rgba(139, 128, 128, 0.5);
        width: 17rem;
        height: 17rem;
    }

    .rect:hover h3 {
        font-size: 2.2em;
    }

    /*     
    #ourteam {
        background-image: url("../assets/dot_bg4.png")
    } */

    .content_about>p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        text-align: center;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
        text-align: right;
        padding-right: 5vh;
    }

    #particles-js {
        /* z-index: 1; */
        width: 100%;
        height: 100vh;
        /* position: fixed; */
        display: flex;
        /* text-align: center;
        justify-content: center;
        align-items: center; */
        z-index: -10;
        background-color: black;
    }

    .particles-js-canvas-el {
        position: absolute;
    }

    #myHeader {
        position: fixed;
        background-color: black;
        background: black;
        backface-visibility: hidden;
    }

    .navbar {
        background: transparent;
    }

    #button_head {
        background: black;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        z-index: 10;


    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    #button_head:hover {
        border: 3px solid green;
        color: green;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: green;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .hidediv {
        transition: 0.3s;
        transition-timing-function: ease;
        display: none;
        position: absolute;
        transition-delay: 2000ms
    }

    .hide {
        position: fixed;
        z-index: -99;
    }


    .headertoggle .newnavbar {
        transition: 0.3s;
        background-color: black;
        color: white;
    }

    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    .col-md-6 {
        /* -ms-flex: 0 0 50%; */
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .numbers.d-flex.flex-md-row.flex-wrap.justify-content-center {
        height: auto;
    }

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    @import url("https://fonts.googleapis.com/css?family=El+Messiri");

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    #container {
        background-color: transparent;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    .hiddenbutton {
        visibility: hidden;
    }

    .quaffle {
        text-align: center;
        font-size: 1.5em;
    }

    #aboutus,
    #ourteam,
    #contactus {
        padding: 8%;
    }

    .navbar-brand {
        width: 13rem;
    }

    .navbar-brand>img:nth-child(1) {
        width: 20%;
    }

    .navbar-brand>img:nth-child(2) {
        width: 45%;
    }

    button:focus {
        outline: 0;
    }

    .main-heading {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 18% 0 0 30%
    }

    .main-heading>img:nth-child(1) {
        width: 80px;
        margin: 0 21px 0 0;
    }

    .main-heading>img:nth-child(2) {
        width: 200px;
    }

    p {
        font-size: 1.4em;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
        color: black;
    }

    /* 
    #ourfeatures>section {
        background-image: url("../assets/DOTTED.png");
        background-size: 100px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: repeat;
    } */

    .numbers {
        padding: 2vmin 0 0 2vmin;
        /* position: absolute; */
        height: 360px;

    }

    #head_f {
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: bold;
    }

    .rect {
        background: white;
        /* position: relative; */
        display: flex;
        width: 16rem;
        height: 16rem;
        padding-top: 5vmin;
        border-radius: 0.4em;
        margin: 3em 2em 5em 5em;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
    }

    .rect:nth-child(1) {
        background-image: url("../assets/feature_game.png");
        background-repeat: no-repeat;
        background-position: 30% 70%;
        background-size: 380px;
    }

    .rect:nth-child(2) {
        background-image: url("../assets/feature_perf.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect:nth-child(3) {
        background-image: url("../assets/feature_cont.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect>h3 {
        text-align: center;
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: black;
    }

    .rect:hover {
        box-shadow: 0px 10px 42px rgba(139, 128, 128, 0.5);
        width: 17rem;
        height: 17rem;
    }

    .rect:hover h3 {
        font-size: 2.2em;
    }

    /*     
    #ourteam {
        background-image: url("../assets/dot_bg4.png")
    } */

    .content_about>p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        text-align: center;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
        text-align: right;
        padding-right: 5vh;
    }

    #particles-js {
        /* z-index: 1; */
        width: 100%;
        height: 100vh;
        /* position: fixed; */
        display: flex;
        /* text-align: center;
        justify-content: center;
        align-items: center; */
        z-index: -10;
        background-color: black;
    }

    .particles-js-canvas-el {
        position: absolute;
    }

    #myHeader {
        position: fixed;
        background-color: black;
        background: black;
        backface-visibility: hidden;
    }

    .navbar {
        background: transparent;
    }

    #button_head {
        background: black;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        z-index: 10;


    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    #button_head:hover {
        border: 3px solid green;
        color: green;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: green;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .hidediv {
        transition: 0.3s;
        transition-timing-function: ease;
        display: none;
        position: absolute;
        transition-delay: 2000ms
    }

    .hide {
        position: fixed;
        z-index: -99;
    }


    .headertoggle .newnavbar {
        transition: 0.3s;
        background-color: black;
        color: white;
    }

    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    .col-md-6 {
        /* -ms-flex: 0 0 50%; */
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .numbers.d-flex.flex-md-row.flex-wrap.justify-content-center {
        height: auto;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 479px) {

    @import url("https://fonts.googleapis.com/css?family=El+Messiri");

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    #container {
        background-color: transparent;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    .hiddenbutton {
        visibility: hidden;
    }

    .quaffle {
        text-align: center;
        font-size: 1.5em;
    }

    #aboutus,
    #ourteam,
    #contactus {
        padding: 8%;
    }

    .navbar-brand {
        width: 15rem;
    }

    .navbar-brand>img:nth-child(1) {
        width: 15%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 45%;
    }

    button:focus {
        outline: 0;
    }

    .main-heading {
        text-align: center;
        justify-content: center;
        align-items: center;
        top: 40%;
        left: 2%;
    }


    .main-heading>img:nth-child(1) {
        width: 65px;
        margin: 0 21px 0 0;
    }

    .main-heading>img:nth-child(2) {
        width: 220px;
    }

    .main-heading>h3 {
        font-size: 1.3em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    p {
        font-size: 1.5em;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3.5em;
        font-weight: bold;
        color: black;
    }

    .about_img {
        width: 300px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    .team_img {
        width: 300px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    .cont_img {
        width: 300px;
        /* height:233px; */
        /* margin: 50px 50px 50px 50px; */
    }

    /* #ourfeatures>section {
        background-image: url("../assets/DOTTED.png");
        background-size: 100px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: repeat;
    } */

    /* .numbers {
        padding: 2vmin 0 0 2vmin;
        position: absolute;
        height: 360px;

    } */

    #head_f {
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 3.5em;
        font-weight: bold;
    }

    .rect {
        background: white;
        /* position: relative; */
        display: flex;
        width: 13rem;
        height: 13rem;
        padding-top: 5vmin;
        border-radius: 0.4em;
        margin: 0 2em 2em 0;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
    }

    .rect:nth-child(1) {
        background-image: url("../assets/feature_game.png");
        background-repeat: no-repeat;
        background-position: 30% 70%;
        background-size: 380px;
    }

    .rect:nth-child(2) {
        background-image: url("../assets/feature_perf.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect:nth-child(3) {
        background-image: url("../assets/feature_cont.png");
        background-repeat: no-repeat;
        background-position: 40%;
        background-size: 340px;
    }

    .rect>h3 {
        text-align: center;
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: black;
    }

    .rect:hover {
        box-shadow: 0px 10px 42px rgba(139, 128, 128, 0.5);
        width: 14rem;
        height: 14rem;
    }

    .rect:hover h3 {
        font-size: 2.2em;
    }

    /*     
    #ourteam {
        background-image: url("../assets/dot_bg4.png")
    } */

    .content_about>p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        text-align: center;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
        text-align: right;
        padding-right: 5vh;
    }

    #particles-js {
        /* z-index: 1; */
        width: 100%;
        height: 100vh;
        /* position: fixed; */
        display: flex;
        /* text-align: center;
        justify-content: center;
        align-items: center; */
        z-index: -10;
        background-color: black;
    }

    .particles-js-canvas-el {
        position: absolute;
    }

    #myHeader {
        position: fixed;
        background-color: black;
        background: black;
        backface-visibility: hidden;
    }

    .navbar {
        background: transparent;
    }

    #button_head {
        background: black;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        z-index: 10;


    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    #button_head:hover {
        border: 3px solid green;
        color: green;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: green;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .hidediv {
        transition: 0.3s;
        transition-timing-function: ease;
        display: none;
        position: absolute;
        transition-delay: 2000ms
    }

    .hide {
        position: fixed;
        z-index: -99;
    }


    .headertoggle .newnavbar {
        transition: 0.3s;
        background-color: black;
        color: white;
    }

    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    .col-md-6 {
        /* -ms-flex: 0 0 50%; */
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .numbers.d-flex.flex-md-row.flex-wrap.justify-content-center {
        height: auto;
    }

}